<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Booking Date</th>
      <th>Value Date</th>
      <th>Currency</th>
      <th>Bank Account</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.amount %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.booking_date %></td>
        <td><%= transaction.value_date %></td>
        <td><%= transaction.currency %></td>
        <td><%= transaction.bank_account_id %></td>
        <td>
          <%= link_to 'Show', transaction %>
          <%= link_to 'Edit', edit_transaction_path(transaction) %>
          <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Transaction', new_transaction_path %>